= render "top-header"

.gray-background
  .user-page
    .user-page__content
      .user-profile
        .user-profile__title
          %h2.user-profile__title__text プロフィール
        .user-profile__background
          .user-profile__background__image
            = image_tag "member_photo_noimage_thumb.png", class: :"user-profile__background__image--photo"
            %input{ type: "text",name: "",placeholder: "",class: :"user-profile__background__image--var" }
        .user-profile__text
          %textarea{ type: "text",placeholder: "こんにちは！ ご覧頂きありがとうございます 可愛いものや綺麗めカジュアルを中心に出品しています。服のサイズは9号です。気持ちよくお取引できるように心がけていきますので、商品や発送方法などご質問がございましたらお気軽にどうぞ",name: "",class: :"user-profile__text--area"}
        .user-profile__btn
          %a{href: "",class: "user-profile__btn--change"} 変更する
    = render "side-bar"
= render "top-footer"
= render "top-button"
