= render "layouts/top-header"

.gray-background
  .user-page
    .user-page__content
      .my-profile
        .my-profile__wrap
          .my-profile__wrap-top
            = image_tag "member_photo_noimage_thumb.png", class: :"my-profile__image"
            .h2#name 名前
            .my-profile__wrap-number
              .h2#grade 評価数
              %span.num 0
              .h2#exhibit 出品数
              %span.num 0

          .my-profile-container-all1.hidden.active
            .my-profile-container
              %ul.my-profile-container__tab
                %li.tab.tab3
                  %h3
                    お知らせ
                %li.tab.tab1
                  %h3
                    やることリスト
            .info
              %ul.my-profile-information__data.active
                %li.my-profile-information__data__list
                  = image_tag "mercari_rogo.png", class: :"my-profile-information__data__list--logo"
                  .my-profile-information__data__list__detail
                    .my-profile-information__data__list__detail--text 明日、500Pの有効期限が切れます。
                    .my-profile-information__data__list__detail--time
                      %i.icon-time.far.fa-clock.fa-1x
                      %span 4日前
                  %i.icon-var.fas.fa-chevron-right
                %li.my-profile-information__data__list
                  = image_tag "mercari_rogo.png", class: :"my-profile-information__data__list--logo"
                  .my-profile-information__data__list__detail
                    .my-profile-information__data__list__detail--text 対象商品がございます
                    .my-profile-information__data__list__detail--time
                      %i.icon-time.far.fa-clock.fa-1x
                      %span 4日前
                  %i.icon-var.fas.fa-chevron-right
                %li.my-profile-information__data__list
                  = image_tag "mercari_rogo.png", class: :"my-profile-information__data__list--logo"
                  .my-profile-information__data__list__detail
                    .my-profile-information__data__list__detail--text 明日、500Pの有効期限が切れます。
                    .my-profile-information__data__list__detail--time
                      %i.icon-time.far.fa-clock.fa-1x
                      %span 4日前
                  %i.icon-var.fas.fa-chevron-right
            .list-contain
              .list-contain__btn
                .list-contain__btn--text 一覧を見る
          .my-profile-container-all2.hidden
            .my-profile-container
              %ul.my-profile-container__tab
                %li.tab.tab2
                  %h3
                    お知らせ
                %li.tab.tab3
                  %h3
                    やることリスト
            .my-profile-purchase__content
          %ul.my-profile-purchase__content__data.hidden
            %li.my-profile-purchase__content__data--detail 現在やることはございません

      .my-profile-purchase
        %h2.my-profile-purchase__title 購入した商品

      .my-profile-purchase-all1.hidden.active
        %ul.my-profile-purchase__transacation
          %li.my-profile-purchase__transacation__tab1
            %h3 取引中
          %li.my-profile-purchase__transacation__tab
            %h3 過去の取引
        .my-profile-purchase__content
          %ul.my-profile-purchase__content__data
            %li.my-profile-purchase__content__data--detail 取引中の商品がございません

      .my-profile-purchase-all2.hidden
        %ul.my-profile-purchase__transacation
          %li.my-profile-purchase__transacation__tab2
            %h3 取引中
          %li.my-profile-purchase__transacation__tab1
            %h3 過去の取引
        .my-profile-purchase__content
          %ul.my-profile-purchase__content__data
            %li.my-profile-purchase__content__data--detail 過去に取引した商品はございません
    = render "layouts/side-bar"
= render "layouts/top-footer"
= render "layouts/top-button"
