= render "layouts/top-header"

.gray-background
  .user-page
    .user-page__content
      .logout
        = link_to "ログアウト",root_path, class: 'logout__button'

    = render "layouts/side-bar"
= render "layouts/top-footer"
= render "layouts/top-button"
