.signin-panel.hidden.active
  .signin__no-account
    %p
      アカウントをお持ちでない方はこちら
    %a 新規会員登録
  .signin__sns
    %btn.btn-default.btn-sns.btn-sns-facebook
      Facebookでログイン
      %i.icon-facebook.fab.fa-facebook
    %btn.btn-default.btn-sns.btn-sns-google
      Googleでログイン
      %i.icon-google-plus.fab.fa-google-plus-g
    = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "new_user_signin"}) do |f|
    .signin__form-inner
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: "signin__input-text input__default"
      .form-group
        = f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード', class: "signin__input-text input__default"
      .g-recaptcha.signup-recaptcha{"data-sitekey" => "6Lcxpo4UAAAAALKIEWUEjHLN-12V1zAQHUQH7wZB"}
      .form-group
      = f.submit "ログイン", class: 'signin__submit btn-default btn-red'

      %a
        パスワードをお忘れの方
