.signup-container.hidden.active
  %header.signup-header
    = render "signin-header"
  %main.signup-main
    = render "signin-main"
    %section.l-signup-container.hidden
      %h2.l-signup-head 新規会員登録
      .l-signup-inner
        .l-signup-content
          %btn.btn-default.btn-mail.signup-main__botton
            = link_to "メールアドレスで登録", new_user_registration_path
            %i.btn-mail.far.fa-envelope
          %btn.btn-default.btn-sns.btn-sns-facebook
            = link_to "Facebookで登録", user_facebook_omniauth_authorize_path ,class: "btn-sns-facebook"
            %i.icon-facebook.fab.fa-facebook
          %btn.btn-default.btn-sns.btn-sns-google
            = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path ,class: "btn-sns-google"
            %i.icon-google-plus.fab.fa-google-plus-g
  %footer.signup-footer
    = render "signin-footer"
