%section.items-box-container.clearfix
  %h3.text-center
    シャネル 新着アイテム
  = render "product"
  = render "product"
  = render "product"
  = render "product"
  .view-all
    %a 全ての商品を見る
%section.items-box-container.clearfix
  %h3.text-center
    ヴィトン 新着アイテム
  = render "product"
  = render "product"
  = render "product"
  = render "product"
  .view-all
    %a 全ての商品を見る

%section.items-box-container.clearfix
  %h3.text-center
    シュプリーム 新着アイテム
  = render "product"
  = render "product"
  = render "product"
  = render "product"
  .view-all
    %a 全ての商品を見る

%section.items-box-container.clearfix
  %h3.text-center
    ナイキ 新着アイテム
  = render "product"
  = render "product"
  = render "product"
  = render "product"
  .view-all
    %a 全ての商品を見る
