.top-wrap
  = render "layouts/top-header"

  .top-banner
    = image_tag "banner-featured-hobby.jpg", class: :"top-banner__image"

  .gray-background
    .top-main
      .top-main__title ピックアップカテゴリー
      .top-main__category
        = render "category_content"
      .top-main__title ピックアップブランド
      .top-main__category
        = render "brand_content"

  = render "layouts/top-footer"
  = render "layouts/top-button"
