.new-wrap
  %header.new-header
    = render "new-header"

  %main
    .new-main
      .new-main__container
        %h2.new-main__title
          商品の情報を入力
        = form_for @product, html: {class: "new-main__sell"} do |f|
          .new-main__image
            %h3.new-main__image-head
              出品画像
              %span.form-require
                必須
            %p
              最大10枚までアップロードできます
            .image-upload-dropbox__container.clearfix.state-image-number-10
              .image-upload-items__container
                .image-upload-items.have-item-0
                  %ul
              %label.image-upload-dropbox.have-item-0
                = f.fields_for :item_images do |i|
                  = i.file_field :name, multiple: true, class: 'image-upload-dropfile hidden', type: 'file', name: "item_images[name][]"
                  %pre.visible-pc
                    ドラッグアンドドロップ<br />またはクリックしてファイルをアップロード
                  %i.icon-camera

          .new-main__content
            .form-group
              %label
                商品名
                %span.form-require
                  必須
              %div
                = f.text_field :name, class: 'input-default', placeholder: "商品名(必須 40文字まで)"
            .form-group
              %label
                商品の説明
                %span.form-require
                  必須
              = f.text_area :description, class: 'textarea-default', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          .new-main__content.clearfix
            %h3.new-main__content__sub-head
              商品の詳細
            .new-main__content__form-box
              .form-group
                %label
                  カテゴリー
                  %span.form-require
                    必須
                %div
                  .select-wrap
                    = f.collection_select :category_large, @category_larges, :id, :name, { include_blank: true, selected: 110 }, {class: "select-default"}
                    %i.icon-arrow-bottom
                  .select-wrap
                    = f.collection_select :category_middle, @category_middles, :ids, :name, { include_blank: true, selected: 110 }, {class: "select-default hidden"}
                    %i.icon-arrow-bottom
                  .select-wrap
                    = f.collection_select :category_small, @category_smalls, :ids, :name, { include_blank: true, selected: 110 }, {class: "select-default hidden"}
                    %i.icon-arrow-bottom
              #size.form-group.hidden
                %label
                  サイズ
                  %span.form-require
                    必須
                .select-wrap
                  = f.collection_select :size_id, @sizes, :id, :name, { include_blank: true, selected: 27 }, {class: "select-default"}
                  %i.icon-arrow-bottom
              .form-group.form-suggest-container
                %label
                  ブランド
                  %span.form-arbitrary
                    任意
                %div
                = f.text_field :brand, class: 'input-default', placeholder: "例)シャネル"
              .form-group
                %label
                  商品の状態
                  %span.form-require
                    必須
                .select-wrap
                  = f.select :condition, Product.conditions.keys, {prompt: "選択してください"}, class: "select-default"
                  %i.icon-arrow-bottom
          .new-main__content.clearfix
            %h3.new-main__content__sub-head
              配送について
            %a{ href: "", target: "_blank", class: "form-question"}
              ?
            .new-main__content__form-box
              .form-group
                %label
                  配送料の負担
                  %span.form-require
                    必須
                .select-wrap
                  = f.select :shipping_charges_burden, Product.shipping_charges_burdens.keys, {prompt: "選択してください"}, class: "select-default"
                  %i.icon-arrow-bottom
              #shipping_method.form-group.hidden
                %label
                  配送の方法
                  %span.form-require
                    必須
                .select-wrap
                  = f.select :shipping_method, Product.shipping_methods.keys, {prompt: "選択してください"}, class: "select-default"
                  %i.icon-arrow-bottom
              .form-group
                %label
                  発送元の地域
                  %span.form-require
                    必須
                .select-wrap
                  = f.select :dispatch_area, Product.dispatch_areas.keys, {prompt: "選択してください"}, class: "select-default"
                  %i.icon-arrow-bottom
              .form-group
                %label
                  発送までの日数
                  %span.form-require
                    必須
                .select-wrap
                  = f.select :number_of_the_days_to_ship, Product.number_of_the_days_to_ships.keys, {prompt: "選択してください"}, class: "select-default"
                  %i.icon-arrow-bottom
          .new-main__content.clearfix
            %h3.new-main__content__sub-head
              販売価格(300〜9,999,999)
            %a{ href: "", target: "_blank", class: "form-question"}
              ?
            .new-main__content__form-box
              %ul.sell-price
                %li.form-group
                  .clearfix
                    %label.l-left
                      価格
                      %span.form-require
                        必須
                    .l-right.sell-price__input
                      .sell-price__input__block
                        ¥
                      .sell-price__input__block
                        = f.text_field :price, id: 'product_price', class: 'input-default', placeholder: "例)300"
                %li.clearfix
                  .l-left
                    販売手数料(10%)
                  #commission.l-right
                    -
                %li.clearfix.bold
                  .l-left
                    販売利益
                  #profit.l-right
                    -
          .new-main__content.new-main__btn-box
            %div
              %p
                %a{ href: "", target: "_blank" }
                  禁止されている出品
                、
                %a{ href: "", target: "_blank" }
                  行為
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                %a{ href: "", target: "_blank" }
                  偽ブランドの販売
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                %a{ href: "", target: "_blank" }
                  加盟店規約
                に同意したことになります。
            = f.button "出品する", type: "submit", class: "btn-default btn-red"
            %a{ class: "btn-default btn-gray"}
              もどる

  %footer.new-footer
    = render "new-footer"
