.signup-container.signup-container__main
  %header.signup-header
    = render "devise/registrations/signup-header"
  %main.signup-main
    %section.l-signup-container
      .waiting-header
        .waiting-header__icon
          .far.fa-clock
        .waiting-header__title 発送をお待ちください
        .waiting__messege 出品者からの発送通知をお待ちください
      %h2.l-signup-head
        購入完了しました
      .buy-content
        .buy-content__inner
          .buy-content__inner__item-image
            - if @product.item_images.first.present?
              = image_tag @product.item_images.first.name,class: "item-photo"
            - else
              = image_tag("no_image.png", class: "item-photo")
          .buy-content__inner__item-name
            = @product.name
          .buy-content__inner__buy-form
      .buy-content
        .buy-content__inner__buy-form
          %h4
            .buy-content__inner__buy-form__item-price
              ="￥#{@product.price.to_s(:delimited)}"
            .buy-content__inner__buy-form__shipping-fee
              送料込み
      .buy-user-info
        .buy-user-info-container
          %h3
            配送先
          %addles
            .buy-user-info-container-text
              = "〒#{@product.user.zip}"
              %br
              = "#{@product.user.prefecture}#{@product.user.city}#{@product.user.block}#{@product.user.building}"
              %br
              = @product.user.nickname
  %footer.signup-footer
    = render "devise/registrations/signup-footer"
