= render "layouts/top-header"

.gray-background
  .user-page
    .product-content
      .product-content__detail
        .product-content__detail--title
          =@product.name
        .product-content__detail__summary
          .product-content__detail__summary__image
            .product-content__detail__summary__image__main
            - if @product.item_images.first.present?
              = image_tag @product.item_images.first.name,class: "product-content__detail__summary__image__main1"
            - else
              = image_tag("no_image.png", class: "product-content__detail__summary__image__main1")
            %ul.product-content__detail__summary__image__sub
              %li.product-content__detail__summary__image__sub
              - if @product.item_images.first.present?
                = image_tag @product.item_images.first.name,class: "product-content__detail__summary__image__sub1"
              - else
                = image_tag("no_image.png", class: "product-content__detail__summary__image__sub1")
              - if @product.item_images.second.present?
                = image_tag @product.item_images.second.name,class: "product-content__detail__summary__image__sub1"
              - else
                = image_tag("no_image.png", class: "product-content__detail__summary__image__sub1")
              - if @product.item_images.third.present?
                = image_tag @product.item_images.third.name,class: "product-content__detail__summary__image__sub1"
              - else
                = image_tag("no_image.png", class: "product-content__detail__summary__image__sub1")
              - if @product.item_images.fourth.present?
                = image_tag @product.item_images.fourth.name,class: "product-content__detail__summary__image__sub1"
              - else
                = image_tag("no_image.png", class: "product-content__detail__summary__image__sub1")
          .table
            .table__box
              .table__box__title
                %h3.table__box__title--text 出品者
              .table__box__item
                %a{ href: "",class: "table__box__item--text"} TO
                .table__box__item__ratings
                  %i.table__box__item__ratings--icon-good.far.fa-laugh
                  %span.table__box__item__ratings--evaluation 0
                  %i.table__box__item__ratings--icon-normal.far.fa-meh
                  %span.table__box__item__ratings--evaluation 0
                  %i.table__box__item__ratings--icon-sad.far.fa-frown
                  %span.table__box__item__ratings--evaluation 0
            .table__box
              .table__box__title
                %h3.table__box__title--text カテゴリー
              .table__box__item
                .table__box__item__detail
                  %h3.table__box__item__detail--text
                    =@product.category_large
                  .table__box__item__detail--text
                    %i.fas.fa-angle-right
                      =@product.category_middle
                  .table__box__item__detail--text
                    %i.fas.fa-angle-right
                      =@product.category_small
            .table__box
              .table__box__title
                %h3.table__box__title--text ブランド
              .table__box__item
                .table__box__item__blue-text
                  =@product.brand
            .table__box
              .table__box__title
                %h3.table__box__title--text 商品の状態
              .table__box__item
                %h4.table__box__item__info
                =@product.condition
            .table__box
              .table__box__title
                %h3.table__box__title--text 配送料の負担
              .table__box__item
                %h4.table__box__item__info
                =@product.shipping_charges_burden
            .table__box
              .table__box__title
                %h3.table__box__title--text 配送方法
              .table__box__item
                %h4.table__box__item__info
                =@product.shipping_method
            .table__box
              .table__box__title
                %h3.table__box__title--text 配送元地域
              .table__box__item
                .table__box__item__blue-text
                  =@product.dispatch_area
            .table__box
              .table__box__title
                %h3.table__box__title--text 発送日の目安
              .table__box__item
                %h4.table__box__item__info
                =@product.number_of_the_days_to_ship
        .price
          .price__box
            %span.price__box__mark ¥
            %h2.price__box__detail=@product.price.to_s(:delimited)
            %h6.price__box__tax （税込）
            %h4.price__box__postage 送料込み
        .purchase
          = link_to "購入画面に進む",buy_products_path, class: "purchase__btn"
        .description
          .description__text
            =@product.description
        .tag
          .tag__content
            %a{ href: "",class: "tag__content__good" }
              %i.tag__content__good--rogo.far.fa-heart
              %span いいね!
              %span 0
            %a{ href: "",class: "tag__content__report" }
              %i.tag__content__report--rogo.far.fa-flag
              %span 不適切な商品の報告
            .tag__content__message
              %a{ href: "",class: "tag__content__message__show"}
                %i.fas.fa-lock
                %span 安心、安全への取り組み
      .icon-content
        .icon-content__menu
          %a{ href: "",class: "icon-content__menu__facebook"}
            %i.icon-content__menu__facebook--color.fab.fa-facebook-square.fa-3x
          %a{ href: "",class: "icon-content__menu__twitter"}
            %i.icon-content__menu__twitter--color.fab.fa-twitter-square.fa-3x
          %a{ href: "",class: "icon-content__menu__pinterest"}
            %i.icon-content__menu__pinterest--color.fab.fa-pinterest-square.fa-3x
      .product-image
        .product-image__user-otherwise
          %a{ href: "",class: "product-image__user-otherwise__title"} TOさんのその他の出品
          .product-image__user-otherwise__list
            =render partial: "product-image",collections: @products
= render "layouts/top-footer"
= render "layouts/top-button"
