.top-header
  .clearfix
    = link_to root_path do
      = image_tag("logo.svg", class: :"top-header__logo")
    .top-header__form
      = form_tag(" /products/search", method: :get)
      = text_field_tag :text, '', placeholder: 'キーワードから探す', name: 'keyword',class: 'form__input'
      = button_tag '', class: "form__button fas fa-search", value: "&#xf002"
  .clearfix
    .top-header__search-link
      .search-link--category カテゴリから探す
      .search-link--brand ブランドから探す
    .top-header__user-info
      .user-info__mypage
        = link_to users_path do
          = image_tag("member_photo_noimage_thumb.png", class: :"mypage__image")
          .mypage__title マイページ
      .user-info__notice
        .far.fa-bell
        .notice__text お知らせ
      .user-info__todo
        .fas.fa-check
        .todo__text やることリスト


